/* グローバルナビ*/
#globalnavi
{
	text-align: left;
	width:100%;
}

#globalnavi li
{
	display: inline-block;
	margin-left: 10px;
	position:relative;
}

#globalnavi li a
{
    display: block;
    width: auto;
	box-sizing: border-box;
    margin: 0;
	line-height: 32px;
	color: #2a2a2a;
	text-decoration:none;
	/*text-shadow: 1px 1px 0px #ffffff;*/
	font-size: 14px;
	font-family: 'Montserrat',Helvetica, Arial, sans-serif;
	letter-spacing: 1px;
	padding: 0 7px;
	/*border: 1px solid #f6f3ef;*/
	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	-ms-transition: all 0.4s linear;

}

#globalnavi li a:hover
{
	/*border: 1px solid #e2dbd2;
	border-bottom-color: #cfc3b5;*/
	/*border-radius: 5px;*/
	color: #ed840c;
	/*box-shadow: inset 0 1px 1px #ffffff, 0 1px 2px #fff,0px 1px 3px #cfc3b5;*/
	/*background-color: #efebe5;*/
}

#globalnavi li a:active
{
	background-color: #ede8e2;
	/*border: 1px solid #e4ddd4;
	border-radius: 5px;
	border-top-color: #d0c6b9;
	box-shadow: 0 1px 0 #ffffff;*/
}
.message #globalnavi .navi01 a,
.service #globalnavi .navi02 a,
.aboutus #globalnavi .navi03 a,
.recruit #globalnavi .navi04 a,
.blog #globalnavi .navi05 a,
.news #globalnavi .navi06 a
{
	color: #ed840c;
	/*background-color: #ede8e2;
	border: 1px solid #e4ddd4;
	border-radius: 5px;
	border-top-color: #d0c6b9;
	box-shadow: 0 1px 0 #ffffff;*/
}

.tips
{
	display: block;
	position: absolute;
	left: 245px;
	top: 25px;
}
.navi04 {
	position:relative;
}
.progtips {
	display:block;
	position:absolute;
	width:164px;
	left:-55px;
	bottom:-60px;
}
#globalnavi .progtips a {
	border:none !important;
	text-shadow:none !important;
	background:none !important;
	box-shadow:none !important;
}
.progtips img {
	position:relative;
}
