@media screen and (max-width: 960px)    {
   img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
	}
	#header .logo {
		float: none;
		text-align: center;
		margin-bottom: 2%;
	}
	#nav {
		float: none;
	}
	#globalnavi {
		text-align: center;
	}
	#mainVisual {
		padding: 0;
	}
	.visual {
		padding: 2%;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
	}
	.block
	{
		width: 100%;
		padding: 4% 5%;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
	}
	.block dd .left {
	    width: 50%;
	}
	.archive
	{
		/*width: 74.6%;*/
		/*margin-right: 1.6%;*/
		/*float: left;*/
	}
	#subVisual h2
	{

		width: 96%;
		padding: 0 2%;
	}


	.progtips img
	{
		width:164px;

	}
	.mainIn {
		padding: 0 3%;
	}
	.side {
		width: 250px;
	}
	.archive,
	.article {
		margin-left: -250px;
	}
	.art-list {
		margin-left: 274px;
	}
	.article > article {
	    margin-left: 274px;
	}
}

@media screen and (max-width: 768px)    {

   #header h1
	{
		float: none;
		width: 100%;
		text-align: center;
		line-height: 0;
		margin-bottom: 0%;
		margin-top: 5px;
	}
	#header .logo {
		padding: 5px 0 10px;
		margin-bottom: 0;
	}
	#header .logo span {
	margin: 10px 0 0 0;
	display: none;
	}
	.block dd .left {
		    width: 100%;
		    float: none;
		}
		.block dd .right {
		   display: none;
		}
	#subVisual h2
	{

		line-height: 50px;
		margin: 0 auto;
		font-size: 24px;
	}

	.block h3
	{
		font-size: 20px;
		margin-bottom: 4%;
	}
	.block h4
	{
		font-size: 16px;
		margin-bottom: 4%;
	}

	.news_area .left
	{
		width: 100%;
		margin: 0 0 5%;
	}

	.news_area .right
	{
		width: 100%;
		border-right: none;
		box-shadow: none;
		padding: 0;
	}

	.article .letter h4,
	.recruit-area h4
	{
		font-size: 16px;
	}
	.foot_cont .left,
	.foot_cont .right
	{
		float: none;
		width: 98%;
		margin: 0 1%;
	}
	.foot_cont .right
	{
		margin-bottom: 3%;
	}
	.article .a-head .left
	{
		width: 100%;
		float: none;
		margin-bottom: 2%;
	}

	.article .a-head .right
	{
		width: 100%;
		float: none;
	}

	.author-area .left
	{
		width: 25%;
	}
	.author-area .right
	{
		width: 73%;
	}
	.contact_form {
		margin-bottom: 30px;
	}
	.contact_form table th,
	.contact_form table td {
		display: block;
		width: 100%;
	}
	.member .left {
	    width: 70%;
	}
	.member .right {
	    width: 25%;
	}
	.member table th {
	    font-weight: normal;
	    padding: 0 10px 0 0;
	    vertical-align: top;
	    white-space: nowrap;
	}
	.side {
		width: 180px;
	}
	.archive,
	.article {
		margin-left: -180px;
	}
	/*.art-list {
		margin-left: 204px;
	}*/
	/*.art-list li {
		width: 50%;
	}*/
	.art-list
{
	width: 100%;
	margin: 0;
	display: flex;
	display: -ms-flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.art-list li
{
	padding: 0;
	flex-basis: 48%;
	margin-bottom: 15px;
}
	.article > article {
	    margin-left: 204px;
	    max-width: 100%;
	}

	#header .logo span, #header h1 {
		line-height: normal;
	}
	#contents {
		width:100%;
	}

	#globalnavi li
	{
		margin-left: 5px;
	}
	#globalnavi li a
{
	line-height: 32px;
	font-size: 12px;
	padding: 0 5px;
}
	.block
	{
	width: 100%;
	padding: 4% 3%;
	margin: 0;
	}
	.block h2
{
	font-size: 24px;
}
.block dt h2 {
	font-size: 20px;
}
.block h3.mhdr {
	font-size: 20px;
}
.mb4 {
    margin-bottom: 6%;
}
.block dd .left
{
	width: 100%;
}
.block dd .right
{
	width: 100%;
	text-align: center;

}
	.news_area dl
	{
		font-size: 14px;
		border-bottom: 1px solid #d8cdbd;
		box-shadow: 0 1px 0 #ffffff;
		margin-bottom: 2%;
		padding-bottom: 2%;
	}
	.news_area dl dt
{
	float: none;
	background-position: right top;
	background-repeat: no-repeat;
	padding: 0 0 0 0;
	line-height: 22px;
	margin-bottom: 2%;
	width: auto;
}
.news_area dl dd
{
	float: none;
	width: 100%;
	margin-left: 0;
}
	.block .recruit-area dl
{
	padding: 10px 0;
}
.recruit-area .rec_tbl
{
	padding: 0 0;
}
.tbl1 th
{
	text-align: left;
	vertical-align: top;
	width: 35%;
}
.foot_menu
{
	margin-bottom: 3%;
}
.foot_cont .right
{

}
.foot_cont .left
{
	width: 100%;
	margin: 0;
	border-top: 1px solid #000;
	box-shadow: inset 0 1px 0 #575656;
}

.menu
{
	width: 100%;
	float: none;
	margin-bottom: 0;
}
.menu h4
{
	margin-bottom: 0;
	border-bottom: 1px solid #000;
	box-shadow: 0 1px 0 #575656;
	padding: 2% 3% 2% 2%;
}

.menu ul
{
}

.menu ul li
{
	margin: 0;
	padding: 2% 3% 2% 6%;
	background: url(../images/foot-arrow.png) no-repeat 2% center;
	border-bottom: 1px solid #000;
	box-shadow: 0 1px 0 #575656;
}
.copyright
{
	text-align: center;
}

.archive
{
	width: 100%;
	margin: 0;
	float: none;
}

.side
{
	width: 98%;
	margin: 0 1%;
	float: none;
}
.sidemenu .bnrList {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.sidemenu .bnrList li {
	flex-basis: 48%;
}
.article
{
	width:  100%;
	margin: 0;
	float: none;
	margin-bottom: 3%;
}
.article > article {
	    margin-left: 0;
}
.article h1 {
	font-size: 24px;
	margin-bottom: 20px;
}
.article .social div {
	float: left;
	margin: 0 10px 0 0;
}
.article .main-photo {
	margin-bottom: 20px;
}
.article .letter h2 {
	margin: 30px 0;
}
.article .letter h3 {
	margin: 20px 0;
}
#subVisual h1 {
	line-height: 60px;
	font-size: 24px;
}
.submenu ul {
	padding: 0;
}
.submenu li,
.submenu li:first-child {
	border: none;
}
.submenu li a {
	line-height: 100%;
	padding: 12px 10px;
}
.author-area .left
{
	width: 30%;
}
.author-area .right
{
	width: 68%;
}
.progtips {
	bottom:-40px;
}
.progtips img{
	width:100px;
}
.service-block {
	padding: 0 2% 4% 2%;
}
.service-block .left {
    width: 100%;
    float: none;
    margin-bottom: 10px;
}
.service-block .right {
    width: 100%;
    float: none;
    text-align: center;
}
.unit01 .left {
    margin: 0 0 20px 0;
}
.tbl1.tblCompany th {
	background-color: #ede8e2;
}
.tbl1.tblCompany th,
.tbl1.tblCompany td{
	display: block;
	width: 100%;
	padding: 10px;
	border: none;
}
.recruit-lead {
	font-size: 14px;
}
.recruit-block {
	padding: 0 2%;
}
.block .recruit-block dl dt {
	float: none;
	margin-bottom: 10px;
}
.block .recruit-block dl dd {
	padding-left: 0;
}
.recruit-block .rec_tbl {
	padding: 0;
}
   img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
	}
	.video embed,
	.video object,
	.video iframe {
    width: 100%;
    height: auto;
	}
	.pagenavi {
		margin-left: 0;
	}
  .top-newcareer .block.top2 dl, .top-newcareer .block.top1 dl {
      width: 90%;
      margin: 0 5% 5%;
  }
  .top-newcareer .block.top1, .top-newcareer .block.top2 {
    display: block;
  }
  .top-newcareer .block.top2 .blockVisual,.top-newcareer .block.top1 .blockVisual {
    background-position: 10% top;
  }
  .top-newcareer .block.top1 .blockVisual figure {
    display: none;
  }
  .top-newcareer .block.top2 .blockVisual figure {
    margin-right: 6%;
    height: 100%;
  }
  .top-newcareer .block.top1 .blockVisual figure img,
  .top-newcareer .block.top2 .blockVisual figure img {
    max-height: 100%;
  }
  .top-newcareer .block .blockVisual {
    width: 100%;
    height: 240px;
    background-position: center top;
    background-size: cover;
    display: flex;
    align-items: center;
    align-self: center;
  }
  .recruit_event {
  	display: block;
  }
  .top-newcareer h2 {
    font-size: 20px;
  }
}
