/* グローバルナビ*/
#globalnavi
{
	overflow: hidden;
}

#globalnavi li
{
    float: left;
	width: 148px;
	border-right: 1px solid #f0b600;
	border-left: 1px solid #f5d162;
}


#globalnavi li.navi01
{
	border-left: 1px solid #f0b600;
}

#globalnavi li.navi01 a
{
	border-left: 1px solid #f5d162;
}

#globalnavi li a
{
    display: block;
    width: 100%;
    margin: 0;
    height: 31px;
	padding-top: 9px;
	text-align: center;
	color: #FFF;
	text-decoration:none;
	font-weight: bold;
	text-shadow: 1px 1px 0px #ffb42b;
	font-size: 14px;
}

#globalnavi li a:hover
{
	background-image: -moz-linear-gradient(top, #f5bf16, #f5d162);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #f5bf16), color-stop(1.0, #f5d162));
}

/*#globalnavi .navi01 a, 
#globalnavi .navi02 a,
#globalnavi .navi03 a,
#globalnavi .navi04 a,
#globalnavi .navi05 a
{
	background-image: url(../images/gnavi.jpg);
}*/


